.category-detail {
  position: relative;
  background-color: #000000;

  .category-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000000;

    @media only screen and (max-width: 500px) {
      height: 50vh;
    }

    .category-hero__main {
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #000;
      position: relative;

      .header {
        margin: 0;
        padding: 0 98px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;

        @media only screen and (max-width: 500px) {
          padding: 0 36px;
        }
      }

      .hero-carousel {
        width: 100%;
        height: 100%;
        position: relative;

        .category-carousel {
          width: 100%;
          height: 100%;

          .carousel-item-wrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 500px) {
              height: 50vh;
            }

            .carousel-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .flickity-viewport {
          height: 100% !important;
        }

        .flickity-slider {
          height: 100%;
        }
      }
    }
  }

  .category-sections {
    .category-info-section {
      margin: 0;
      padding: 0 98px;
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      background-image: url("../images/catalog-info-section-background.png");
      background-repeat: no-repeat;
      background-color: #000000;

      @media only screen and (max-width: 500px) {
        padding: 1px 20px 1px 20px;
      }

      .category-title {
        font-family: Montserrat;
        font-size: 69.754px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -2.093px;
        color: #fff;
        text-transform: uppercase;

        @media only screen and (max-width: 500px) {
          font-size: 32px;
          letter-spacing: -0.03px;
        }
      }

      .category-description {
        font-family: Montserrat;
        font-size: 21.564px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -1.078px;
        color: #fff;

        @media only screen and (max-width: 500px) {
          font-size: 15px;
          letter-spacing: -0.05em;
        }
      }

      .category-image-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .category-image {
          width: 100%;
          height: auto;
          border-radius: 24px;
          object-fit: cover;

          @media only screen and (max-width: 500px) {
            margin-top: 20px;
          }
        }
      }

      .product__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 36px;
        column-gap: 32px;
        margin-top: 40px;

        @media only screen and (max-width: 1430px) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: 1120px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 800px) {
          grid-template-columns: repeat(2, 1fr);

          .card-img {
            height: 200px;
          }
        }
      }
    }

    .category-partners {
      padding: 20px 20px 60px 20px;

      .partners-title {
        font-family: Montserrat;
        font-size: 2.1rem;
        letter-spacing: -1px;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;

        @media only screen and (max-width: 500px) {
          font-size: 1.5rem;
        }
      }

      .partners-container {
        width: 100%;

        .partners--grid2 {
          width: 100%;
          flex-wrap: wrap;
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          border: 2px solid #fff;
          background: #fff;
          box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
          backdrop-filter: blur(21px);
          padding: 20px;

          @media only screen and (max-width: 500px) {
            border-radius: 24px;
            padding: 15px;
            gap: 10px;
          }

          .brand-card {
            width: 200px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            @media only screen and (max-width: 500px) {
              width: 120px;
            }

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
              max-height: 100px;

              @media only screen and (max-width: 650px) {
                max-width: 95% !important;
                height: auto;
              }
            }
          }
        }
      }
    }
  }

  .category-application {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    background-color: #000;

    @media only screen and (max-width: 500px) {
      padding: 0 36px;
    }
  }
}
