// *{
//   border: solid 1px black
// }
@mixin trans($t: 0.5s, $tdelay: 0s) {
  transition: $t $tdelay;
}
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

html,
body {
  @include size(100%);
  margin: 0;
  overflow: hidden;
  background-color: #1c1c1c;
}
#app {
  @include size(100%);
  @include flex_center;
}
.carouselContainer {
  @include size(1000px, auto);
  display: flex;
  justify-content: center;
}
.carouselArea {
  @include size(800px, auto);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  > .carouselPosts {
    position: relative;
    transition: 0.5s;
  }
}
.carouselPostBox {
  @include size(100%);
  display: inline-block;
  box-sizing: border-box;
  > .cover {
    @include size(100%);
    @include trans;
    background-position: center, center;
    background-size: cover;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.controlLeft,
.controlRight {
  @include size(40px);
  @include flex_center;
  @include trans;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    color: #1c1c1c;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.controlLeft {
  left: 1rem;
}
.controlRight {
  right: 1rem;
}

////// version 2
.contentBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px;
}
.cardBox {
  display: flex;

  .imageStyle {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    @include trans;
    background-position: center, center;
    background-size: cover;
    margin-right: 5px;
  }
  .fontBox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px - 5px);
  }
  .titleStyle {
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    white-space: pre-line;
    letter-spacing: 1px;
  }
}
